

<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Login Form | CodingLab</title>
{% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <div class="title"><span>Sign up Form</span></div>
        <form method="post">
          {% csrf_token %}
          <div class="row">
            <i class="fas fa-user"></i>
            <label for="id_username"></label>
            <input type="text" placeholder="Username" id="id_username" name="username" required>
          </div>
          <div class="row">
            <i class="fa fa-envelope"></i>
            <label for="id_email"></label>
            <input type="email" placeholder="email" id="id_email" name="email" required>
          </div>
          <div class="row">
            <i class="fas fa-lock"></i>
            <label for="id_password1"></label>
            <input type="password" placeholder="Enter Password" id="id_password1" name="password1" required>
          </div>
          <div class="row">
            <i class="fas fa-lock"></i>
            <label for="id_password2"></label>
            <input type="password" placeholder="Confirm Password" id="id_password2" name="password2" required>
          </div>
          <div class="pass"><a href="#">Forgot password?</a></div>
          <div class="row button">
            <input type="submit" value="Sign up">
          </div>
          <div class="signup-link">Already a user <a href="{% url 'login' %}">Login now</a></div>
        </form>
      </div>
    </div>

  </body>
</html>
